body{
text-align: center;
    background-color: blanchedalmond;
}
#home{
    background-color: aqua;
}
img{
    text-align: left;
}
p{
    text-align: var(img);
}
div{
    margin-left: 30%;
    margin-right: 40%;
}
p{
    margin-left: 35%;
}
button{
    margin-left: 95%;
    margin-top: 15%;
    color: brown;
    border: 30;
}